# Ignore data folder and its contents
data/

# Ignore output folder and its contents
output/
para_out/
distribute_out/

# Ignore all python file
test.py
test_distribute.py
my_test.ipynb


# Byte-compiled / optimized / DLL files
__pycache__/
# *.py[cod]
# *$py.class
